/* @media (min-width:355px) {
    .star div img {
        width: 200px !important;
        background-color: aqua;
    }
} */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 6vh;
}

.black {
    font-weight: 700;
    margin-left: 320px;
    letter-spacing: .2em;
    color: white;
    font-size: .85em;
    padding-top: 10px;
    /* justify-content: center; */
}

.white {
    font-weight: 700;
    letter-spacing: .2em;
    font-size: .85em;
    color: rgb(223, 195, 40);
    text-transform: uppercase;

}

.page {
    background-color: white;
    width: 100%;
    height: 30vh;
    font-family: cursive;
    font-weight: 800;

    animation: 10s col linear infinite;
}
@keyframes col {
    0%{
        background-color: white;
    }
    25%{
        background-color: rgb(190, 190, 190);
    }
    50%{
        background-color: white;
    }
    75%{
        background-color: rgb(190, 190, 190);
    }
    100%{
        background-color: rgb(48, 15, 15);
    }
}
.page ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    padding-top: 70px;
}

.page ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.diva {
    color: red;
    padding-left: 600px;
}

.text {
    margin-left: 50px;
}

.gloss {
    margin-left: 90px;
}

.pic {
    height: 500px;
    background-image: url(../img/Woman.webp);
    background-size: cover;
}

.total {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-size: 13px;
    width: 87%;
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-top: 6px;

}
.total div{
    margin-top: 30px;
}
.malite {
    width: 282px;
}
.malite:hover{
    transition: .3s;
scale: 0.9;
}
.our {
    font-size: 40px;

}
.hd{
    width: 30vw;
    margin:40px auto;
    text-align: center;
}

.text-2 {
    margin-left: 80px;
}

.gloss {
    margin-left: 90px;
}

.star {
    width: 95vw;
    display: flex;
    margin: 100px auto;
    gap: 8px;
    overflow-x: scroll;

}
.flex2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.star div {
    width: 24%;
}
.star div h3 {
    width: 64%;
}
.star div span {
    width: 64%;
}



.footer {
    display: flex;
    justify-content: space-between;
    height: 250px;
   
    background-color: aliceblue;
}

.footer-column {
   padding-bottom: 30px !important;
}

.footer-column h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    
}


footer {
    color: white;
    width: 950px;
    height: 60px;
    padding-left: 300px;
    padding-top: 30px;
    font-size: 14px;
    /* background-color: #666666; */
    font-weight: bold;
}

.footer-column h4 {
    margin:20px auto;
    font-weight: 700;

}